---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Publisher'
    value: page.publisher 
  - label: 'Publication Date'
    value: page.publication_date
  - label: 'Names in the Advertisement'
    value: page.names_mentioned
  - label: 'Ran Away From'
    value: page.runaway_origin
  - label: 'Running Away To'
    value: page.runaway_destination
  - label: 'Gender Mentioned'
    value: page.enslaved_gender 
  - label: 'Details'
    value: page.physical
  - label: 'Enslaved Occupation'
    value: page.enslaved_occupation
  - label: 'Enslaved Age'
    value: page.enslaved_age
  - label: 'Source'
    value: page.source
    type:  link
---
